body {
	text-align: center;
 	word-wrap: break-word;
}

h2 {
	text-decoration: underline;
}

img {
	vertical-align: middle;
	max-height: 75px;
	max-width: 150px;
}

div#choice {
	padding: 50px;
	border-bottom: 2px solid black;
	display: flex;
	justify-content: space-around;
}

div#choice a {
	border: 2px solid black;
	border-radius: 0.5em;
}

div#choice a figure figcaption {
	font-size: 1.5em;
}

a:link { color: black; background-color: #483D8B; }
a:visited { color: black; background-color: #483D8B; }
a:hover { color: black; background-color:  #4169E1; }