section h1,li {
	font-size: 2em;
  font-weight: bold;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

section img {
	margin: auto;
}


aside {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	border: solid white 0.25em;
}

aside img {
	max-height: 10em;
	margin: 5px;
}