body {
	text-align: center;
}

.option {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flex {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.flex * {
	margin: 15px;
}